<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">

  <%- include('partials/navbar', {page: '/about'}) %>

  <div class="container mx-auto p-4">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>

          <p class="py-6">Everything you want to know about me - the designer &amp; developer.</p>

        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <img class="w-full rounded-lg"
          src="https://educationsnapshots.com/wp-content/uploads/sites/4/2022/01/seneca-college-newnham-campus-food-hall-3-700x467-compact.jpg"
          alt="profile" />

      </div>
      <div class="prose pt-14 pb-5">

        <p>My name is <strong> Wilgard Fils-aime</strong> and I'm currently studying at <strong>Seneca Polytechnic</strong> .</p>

        <p>   The field of computer programming really interests me. I am currently enrolled in Seneca College's Computer 
          Programming Program (CPP), and I am looking forward to honing and expanding my talents in this field.  eager to 
          connect with people who have similar interests to myself, and obviously eager for chances to advance professionally.

      </div>

    </div>

  </div>



  <br><br><br><br>
    <%- include('partials/footer') %>
</body>

</html>